*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Structure */
body {
    min-height: 100vh;
    gap: 2rem;
    padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 500px;
    height: 100%;
}
